<!DOCTYPE html>
<html>
<head>
  <title>Peboa1</title>
  <%= netzke_init %> 
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>  
  
  <%= csrf_meta_tags %>   
</head>
   


<body>
    <div id="wrapper" class="ui-widget">
        <div id="header" class="ui-corner-top">
        	<div style="float: left; width: 175px;">
            		<%= link_to image_tag("peboaLG_white.gif", :width => '175px'), root_path, :class => 'logo' %>
            </div>
            <div id="user_nav" style="float: right; text-align: right;">
                <% if current_user %>
                Angemeldet als <%= current_user.email %>. <%= link_to "Abmelden", logout_path %>
                <% else %>       
                <%= link_to "Anmelden", login_path %>
                <% end %>
            </div>
            
        </div>
        <%#= render :partial => "layouts/adminmenu" %>
        <%#= render :partial => "layouts/leftcolumn" %>   
		<% if current_user %>
			<div id="leftcolumn" class="ui-widget-content ui-menu">
		        <ul>
		            <li class="ui-menu-item">
		                <%= link_to "Benutzerdaten", :controller => "users", :action => "index" %>
		            </li> 
					<li>
						test
					</li>
				</ul>
			</div>
		<% end %>
        <div id="content" class="ui-widget-content">
            <% flash.each do |name, msg| %>  
				<%= content_tag :div, msg, :id => "flash#{name}" %>  
			<% end %>    
			<%= yield %>
        </div>
        <div id="footer" class="ui-corner-bottom  ui-state-default">
            <center>
                Impressum | Kontakt | AGBs
            </center>
        </div>
    </div>
</body>


</html>
